.product-preview-card {
    display: flex;
    flex-direction: column;

    &__image-padding {
        padding-bottom: 36px;
    }

    &__image-container {
        font-size: 0;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__buttons-container{
        position: absolute;
        left: 50%;
        bottom: 0;
        width: max-content;
        transform: translateX(-50%) translateY(50%);
    }

    &__counter{
        font-size: px-to-rem(14px);
        color: $White;
    }

    &__type-dessert {
        font-size: px-to-rem(14px);
        color: $Rose-500;
    }

    &__title {
        font-weight: 600;
        color: $Rose-900;
    }

    &__price {
        font-weight: 600;
        color: $Red;
    }
}

.product-added {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $Rose-100;
    &__title {
        color: $Rose-900;
        font-weight: 600;
        padding-bottom: 5px;
    }
    &__count-portions {
        font-weight: 600;
        color: $Red;
        margin-right: 14px;
    }
    &__single-price {
        margin-right: 5px;
        color: $Rose-500;
    }
    &__total-price {
        font-weight: 600;
        color: $Rose-500;
    }
}
