.grid {
    display: grid;
    &--gc-r {
        grid-template: auto / 2fr minmax(300px, 1fr);
        column-gap: 32px;
        @include breakpoint-down("laptop") {
            column-gap: 16px;
        }
        @include breakpoint-down("tablet") {
            grid-template: auto / 1fr minmax(300px, 1fr);
        }
        @include breakpoint-down("tablet-l") {
            row-gap: 32px;
            grid-template: 1fr / 1fr;
        }
    }
    &--g {
        column-gap: 24px;
        row-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        @include breakpoint-down("laptop") {
            column-gap: 18px;
        }
    }
}
